<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Stock Quote</title>
  </head>
  <body ng-app="stockQuote" ng-cloak>

    <table ng-controller="StockListController" border="1" cellpadding="5" cellspacing="0">
      <thead>
        <tr>
          <td>Symbol</td>
          <td>QTY</td>
          <td>Price</td>
          <td>Current</td>
          <td>Comm</td>
          <td>Book</td>
          <td>Market</td>
          <td></td>
        </tr>
      </thead>
      <tbody ng-show="data.length <= 0">
        <tr>
          <td colspan="6">No data</td>
        </tr>
      </tbody>
      <tbody ng-show="data.length > 0">
        <tr ng-repeat="row in data">
          <td>{{ row.symbol }}</td>
          <td><input type="text" ng-model="row.qty"></td>
          <td><input type="text" ng-model="row.price"></td>
          <td>{{ row.current | currency }}</td>
          <td><input type="text" ng-model="row.comm"></td>
          <td>{{ valueOf(row) | currency }}</td>
          <td>{{ marketValueOf(row) | currency }}</td>
          <td></td>
          <td><button type="button" ng-click="remove(row)">Remove</button>
          <td><button type="button" ng-click="update(row)">Update</button>
        </tr>
        <tfoot>
          <tr>
            <td colspan="5">Total</td>
            <td>{{ bookValue() | currency }}</td>
            <td>{{ marketValue() | currency }}</td>
          </tr>
        </tfoot>
      </tbody>
    </table>

    <form ng-controller="AddSymbolFormController" ng-submit="addStock()">
      <p>
        <label for="stock-symbol">Symbol</label>
        <input type="text" id="stock-symbol" ng-model="stock.symbol">
      </p>

      <p>
        <button type="submit">Add</button>
      </p>
    </form>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>

    <script src="app.js"></script>
  </body>
</html>
