<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Stock Quote</title>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
  </head>
  <body ng-app="stockQuote" ng-cloak>

    <div class="container">
      <table class="table" ng-controller="StockListController">
        <thead>
          <tr>
            <th>Symbol</th>
            <th>QTY</th>
            <th>Price</th>
            <th>Current</th>
            <th>Comm</th>
            <th>Book</th>
            <th>Market</th>
            <th></th>
          </tr>
        </thead>
        <tbody ng-show="data.length <= 0">
          <tr>
            <td colspan="6">No data</td>
          </tr>
        </tbody>
        <tbody ng-show="data.length > 0">
          <tr ng-repeat="row in data">
            <td>{{ row.symbol }}</td>
            <td><input toggle-edit="row.qty" ng-model="row.qty"></td>
            <td><input toggle-edit="row.price | currency" ng-model="row.price"></td>
            <td>{{ row.current | currency }}</td>
            <td><input toggle-edit="row.comm | currency" ng-model="row.comm"></td>
            <td>{{ valueOf(row) | currency }}</td>
            <td>{{ marketValueOf(row) | currency }}</td>
            <td>
              <button type="button" ng-click="update(row)" class="btn btn-mini btn-default"><i class="icon-refresh"></i></button>
              <button type="button" ng-click="remove(row)" class="btn btn-mini btn-danger"><i class="icon-remove"></i></button>
            </td>
          </tr>
          <tfoot>
            <tr>
              <td colspan="5">Total</td>
              <td>{{ bookValue() | currency }}</td>
              <td>{{ marketValue() | currency }}</td>
            </tr>
          </tfoot>
        </tbody>
      </table>

      <form ng-controller="AddSymbolFormController" ng-submit="addStock()" class="form-horizontal">
        <div class="form-group">
          <div class="col-lg-4">
            <div class="input-group">
              <input type="text" id="stock-symbol" ng-model="stock.symbol" class="form-control input-small" placeholder="AAPL">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-small btn-primary"><i class="icon-plus"></i></button>
              </span>
            </div>
          </div>
        </div>
      </form>
    </div>


    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>

    <script src="app.js"></script>
  </body>
</html>
